<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" src="{{ url_for('static', filename='fontawesome-free-5.11.2-web/css/all.css')}}" />

  <style>
    div.list-group>a.list-group-item:hover {
      text-decoration: none !important;
    }

    div.spinner {
      position: absolute;
      z-index: 1000;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #ffffff80;
    }

    div.spinner .d-flex {
      position: absolute;
      z-index: 1000;
      top: 40%;
      left: 50%;
    }
  </style>


  <title>Life Export</title>
</head>

<body>

  <div class="container">

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Life Export</a>
    </nav>


    <section class="row">
      <form class="col-md-9 offset-md-1 my-2" method="POST" autocomplete="off">
        <div class="form-row align-items-center">
          <div class="col-sm-5 my-3">
            <div class="input-group">

              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-id-card fa-xs"></i></div>
              </div>
              <input type="text" class="form-control" id="base" autofocus placeholder="BASE ID"
                value="">
            </div>
          </div>
          <div class="col-sm-5 my-1">
            <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-code fa-xs"></i></div>
              </div>
              <input type="password" class="form-control" id="key" placeholder="API KEY" value="">
            </div>
          </div>

          <div class="col-sm-1 my-1">
            <button type="submit" class="btn btn-secondary">Submit</button>
          </div>
        </div>
      </form>
    </section>

    <div class="row">
      <div class="col-md-9 offset-md-1 file-list-group">

      </div>
    </div>
  </div>


  <div class="spinner d-none">
    <div class="d-flex justify-content-center align-items-center">
      <div class="spinner-grow text-secondary" role="status" style="width: 4rem; height: 4rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='fontawesome-free-5.11.2-web/js/all.js')}}"></script>
  <script src="{{ url_for('static', filename='main.js')}}"></script>


</body>

</html>